<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% if title %}{{ title }} {% else %} BASE 1 COL {% endif %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancytree-all.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/groundwork.all.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>

    <!-- Modernizr -->
    <script type="text/javascript" src="{{STATIC_URL}}js/modernizr-2.6.2.min.js"></script>
    <!-- framework css -->
    <!--[if gt IE 9]><!-->
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork.css">
    <!--<![endif]-->
    <!--[if lte IE 9]-->
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork-core.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork-type.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork-ui.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork-anim.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/groundwork-ie.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/jquery.dataTables.min.css">
    <!--[endif]-->

    <!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mmlog/css/mmlog_styles.css">-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui.fancytree.css">

    </head>
<style>
div#header
    {
    position:fixed;
    top:0px;
    margin:auto;
    z-index:100000;
    width:100%;
    background-color: white;
}

div#body
    {
    margin-top:110px;
}

</style>
<body>

    <div class="row" id="header">
        <h1 class="box">MMLOG</h1> {% block header %}{% endblock %}
    </div>

    <div class="row" id="body">
            <div class="four fourth" id="form">
                <p class="box">Content here</p>{% block content %}{% endblock %}
            </div>
    </div>

    <div class="row" id="statusbar">
        <h6 class="box">Status bar</h6>
    </div>

    <div class="row" id="footer">
        <h1 class="box">Footer</h1>
    </div>

</body>
</html>