<nav role="navigation" class="nav gap-top" title="MM Menu">
  <ul role=""menubar">
    <li><a href="/mmmain/index">Home</a></li>
    <li role="menu">
        <button>Gestione interventi</button>
            <ul>
                <li role="menu">
                    <button>Nuovo intervento</button>
                        <ul>
                            <li><a href="/mmlog/add_activity_sheet/100">Preventiva</a></li>
                            <li><a href="/mmlog/add_activity_sheet/200">Correttiva</a></li>
                            <li><a href="/mmlog/add_activity_sheet/300">Ispettiva</a></li>
                        </ul>
                </li>
                <li><a href="/mmlog/list_activity_sheets_by_date">Elenco interventi</a></li>
            </ul>
    </li>
    <li role="menu">
        <button>Anagrafica aziende</button>
            <ul>
                <li><a href="/mmsupplierDB/add_external_company">Inserisci nuova</a></li>
                <li><a href="/mmsupplierDB/list_external_companies">Elenco</a></li>
            </ul>
    </li>

    <li><a href="/mmcalendar">Calendario attività</a></li>
    <li><a href="/mmreport">Report e analisi</a></li>

  </ul>
</nav>
