{% extends "mmlog/base.html" %}

            {% block tree%}
                <!-- QUESTA PARTE DEVE ESSERE CREATA DINAMICAMENTE
                    DAI DATI DEL DB -->
                <div id="tree">
                  <ul id="treeData" style="display: none;">
                    <li id="1">Impianto A
                      <ul>
                        <li id="3">Macchina 1
                          <ul>
                              <li id="5">Componente 1.1
                                  <ul>
                                    <li id="5">Sub-componente 1.1.1
                                    <li id="6">Sub-componente 1.1.2
                                  </ul>
                              <li id="6">Componente 1.2
                          </ul>
                        <li id="4">Macchina 2
                      </ul>
                    <li id="2">Impianto B
                      <ul>
                        <li id="7">Macchina 1
                        <li id="8">Macchina 2
                      </ul>
                  </ul>
                </div>

            {% endblock %}

            {% block form %}
                <div id="selected_node"></div>
                <form action="/mmlog/add_activity_sheet/" method="POST">
                    {% csrf_token %}
                    <!-- FORM START -->
                      <div class="row">
                        <div class="three twelfths">{{ form.entry_date.label }}{{ form.entry_date }}{% for e in form.entry_date.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                        <div class="three twelfths">{{ form.entry_time.label }}{{ form.entry_time }}{% for e in form.entry_time.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                      <div class="row">
                        <div class="six twelfths">{{ form.component.label }}{{ form.component }}{% for e in form.component.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                      <div class="row">
                        <div class="ten twelfths">{{ form.description.label }}{{ form.description }}{% for e in form.description.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                      <div class="row">
                        <div class="six twelfths">{{ form.internal_responsible.label }}{{ form.internal_responsible }}{% for e in form.internal_responsible.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                        <div class="three twelfths">{{ form.num_internal_operators.label }}{{ form.num_internal_operators }}{% for e in form.num_internal_operators.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                      <div class="row">
                        <div class="three twelfths">{{ form.internal_intervention_time_days.label }}{{ form.internal_intervention_time_days }}{% for e in form.internal_intervention_time_days.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                        <div class="three twelfths">{{ form.internal_intervention_time_hours.label }}{{ form.internal_intervention_time_hours }}{% for e in form.internal_intervention_time_hours.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                        <div class="three twelfths">{{ form.internal_intervention_time_minutes.label }}{{ form.internal_intervention_time_minutes }}{% for e in form.internal_intervention_time_minutes.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                      <div class="row">
                        <div class="three twelfths">{{ form.internal_intervention_duration.label }}{{ form.internal_intervention_duration }}{% for e in form.internal_intervention_duration.errors %}<p class="red message">{{ e }}</p>{% endfor %}</div>
                      </div>
                    <!-- FORM END -->
                    <input type="submit" value="Submit" />
                </form>
            {% endblock %}
