<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

    <title>{% block title %}{% if title %}{{ title }} {% else %} NO TITLE {% endif %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancytree-all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mmlog/css/mmlog_styles.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui.fancytree.css">

    <script type="text/javascript">
    $(function(){
      // Create the tree inside the <div id="tree"> element.
      $("#tree").fancytree({
                activate: function(event, data){
                // A node was activated: display its title:
                var node = data.node;
                $("#selected_node").text(node.title);
                }
        })
    });
    </script>
</head>
<body>
<div id="doc3" class="yui-t3">
  <div id="hd">
    <div id="header"><h1>MMLOG {% block header %}{% endblock %}</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="content">Content Here {% block form %}{% endblock %}</div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary">Secondary Column{% block tree %}{% endblock %}</div>
    </div>
  </div>
  <div id="ft">
    <div id="footer">Footer</div>
  </div>
</div>
</body>
</html>
