{% extends "mmlog/base.html" %}

        {% block header %}
            {% include 'menubar.html' %}
        {% endblock %}

        {% block form %}

        <table class="info" >
            <tr><th>Data inserimento</th><th>Componente</th><th>Stato</th><th>Responsabile</th></tr>
            {% for sheet in activity_sheets %}
                <tr><td>{{sheet.entry_date}}</td><td>{{ sheet.component }}</td><td>{{sheet.status}}</td><td>{{sheet.internal_responsible}}</td></tr>
            {% endfor %}
        </table>

        {% endblock %}