{% extends "base_2_col.html" %}

        {% block header %}
            {% include 'menubar.html' %}
        {% endblock %}

        {% block form %}

        <table class="info" >
            <tr><th>ID</th><th>Data inserimento</th><th>Componente</th><th>Stato</th><th>Responsabile</th><th>&nbsp;</th></tr>
            {% for sheet in activity_sheets %}
                <tr><td>{{sheet.id}}</td><td>{{sheet.entry_date}}</td><td>{{ sheet.component }}</td><td>{{sheet.status}}</td><td>{{sheet.internal_responsible}}</td><td><a href="/mmlog/update_activity/{{sheet.id}}">Modifica</a></td></tr>
            {% endfor %}
        </table>

        {% endblock %}